<div class="game-wrapper">
    <div class="game-board"></div>
    <div class="game-inform">
        <div class="inform-bum timer-bum">
            <img class="inform-bun-img" src="/assets/img/clock.png">
            <h2>099</h2>
        </div>
        <div class="inform-bum">
            <img class="inform-bun-img" src="/assets/img/bomb_fear.png">
            <h3>99</h3>
        </div>
        <div class="inform-bum">
            <img class="inform-bun-img" src="/assets/img/flag.png">
            <h3>10</h3>
        </div>
    </div>
</div>