<div class="game-wrapper">
    <div class="game-inform">
        <div class="bum control-bum"
             *ngFor="let level of levels"
             [class.active]="chosenLevel.name == level.name"
             (click)="changeGameLevel(level)">
            <img src="/assets/img/bomb_{{level.name}}.png">
            <h4>{{level.name}}</h4>
        </div>
    </div>
    <div class="game-board">
        <div class="grid {{chosenLevel.name}}">
            <app-game-tile *ngFor="let tile of tiles$ | async; let i = index"
                           [tile]="tile"
                           (onRightClickTile)="clickTile($event, true)"
                           (onClickTile)="clickTile($event)"></app-game-tile>
        </div>
    </div>
    <div class="game-inform">
        <div class="bum inform-bum timer-bum">
            <img src="/assets/img/clock.png">
            <h2><app-game-timer [start]="status.gameStart" [over]="status.gameOver"></app-game-timer></h2>
        </div>
        <div class="bum inform-bum">
            <img src="/assets/img/bomb_fear.png">
            <h3>99</h3>
        </div>
        <div class="bum inform-bum">
            <img src="/assets/img/flag.png">
            <h3>{{status.flags}}</h3>
        </div>
    </div>
</div>