@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

$tile-width: 2rem;

.game-board-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.game-board {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.junior {
    width: $tile-width * 8;
  }

  &.senior {
    max-width: $tile-width * 16;
  }

  &.master {
    max-width: $tile-width * 30;
  }
}

.game-inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  max-width: 200px;
  height: 100%;
  color: $text-color;
  user-select: none;

  .bum {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $base-line-height;

    img {
      width: 40%;
      height: auto;
    }

    h2 {
      @include type-setting(2);
      @include respond-to(medium) {
        @include type-setting(3);
      }
      margin: 0;
    }

    h3 {
      @include type-setting(1);
      @include respond-to(medium) {
        @include type-setting(2);
      }
      margin: 0;
    }

    h4 {
      @include type-setting(0);
      @include respond-to(medium) {
        @include type-setting(1);
      }
      margin: 0;
    }

    h5 {
      @include type-setting(-1);
      @include respond-to(medium) {
        @include type-setting(0);
      }
      margin: 0;
    }

  }

  .inform-bum {
    background-color: #ffa711;
    padding: $base-line-height 0;
    border: 2px solid #603309;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0px 0px 10px 2px rgba(96,51,9,1);
  }

  .timer-bum {
    flex-direction: column;
    img {
      width: 50%;
      margin-bottom: $base-line-height;
    }
  }

  .control-bum {
    cursor: pointer;
    transform: scale(1);
    transition: transform 200ms ease;

    &:hover {
      color: #d60a12;
      transform: scale(1.1);
    }

    &.active {
      color: #ab0a11;
      transform: scale(1.2);
    }

    img {
      width: 25%;
      height: auto;
      margin-right: 5px;
    }
  }

  .best-bum {

    img {
      width: 30%;
      margin-right: 5px;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.game-control {
  display: none;

  @include respond-to(large) {
    display: flex;
  }
}