<div class="about-wrapper">
    <div class="logo">
        <h1 class="logo-title">mine</h1>
        <img class="logo-img" src="/assets/img/sweeper.png">
        <h1 class="logo-title">sweeper</h1>
    </div>
    <div class="about-body">
        <p>
            The objective in Minesweeper is to find and mark all the mines hidden under the grey squares, in the shortest time possible. This is done by clicking on the squares to open them. Each square will have one of the following:
            A mine, and if you click on it you'll lose the game.
            A number, which tells you how many of its adjacent squares have mines in them.
            Nothing. In this case you know that none of the adjacent squares have mines, and they will be automatically opened as well.
        </p>
        <p><strong>Author:</strong> Daniel Pan</p>
    </div>
    <div class="social">
        <app-game-about-social *ngFor="let btn of socialBtns" [btn]="btn"></app-game-about-social>
    </div>
</div>