@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

:host {
  display: flex;
  position: absolute;
  flex: 1;
  color: $text-color;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  align-content: space-around;
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .logo-title {
    @include type-setting(2);

    @include respond-to(medium) {
      @include type-setting(4);
    }
    font-family: 'Bungee Outline', cursive;
    margin: 0;
  }

  .logo-img {
    display: none;

    @include respond-to(small) {
      display: block;
    }
    width: 100px;
    height: auto;
  }
}

.about-body {
  width: 95%;
  margin: 0 auto;
}

p {
  @include type-setting(0);

  @include respond-to(medium) {
    @include type-setting(1);
  }
  font-family: cursive;
  margin: 0;
}

.social {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: $base-line-height 1rem;
  width: 100%;
}