@import '../../../styles/utils/variables';
@import '../../../styles/utils/functions';
@import '../../../styles/utils/mixins';

$tile-width: 2rem;

$colors: #ff00af, // 1
#47f01c, // 2
#990303, // 3
#971eff, // 4
#ffa333, // 5
#22672d, // 6
#622f43, // 7
#23010b; // 8

:host {
  width: $tile-width;
  height: $tile-width;
  user-select: none;
}

.tile-cell {
  width: 100%;
  height: 100%;
  border-radius: .2rem;

  background-color: #fefefe;
  box-shadow: inset 0px 0px .3px 2px rgba(0,0,0,1);

  &.unknown {
    background-color: #ffa711;
      border: 2px solid;
      border-color: #ffd285 #784b00 #784b00 #ffd285;
      box-shadow: none;
      &:hover {
        border-color: #784b00 #ffd285 #ffd285 #784b00;
      }
  }

  &.mine-wrong {
    background-color: #ab0a11;
  }

  .tile-content {
    @include type-setting(1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $text-color;
  }

  @for $x from 1 through 8 {
    .tile-content-#{$x} {
      color: nth($colors, $x);
    }
  }

  img {
    object-fit: fill;
    object-position: center;
    width: 60%;
    height: auto;
  }
}
