<div class="tile-cell"
     (contextmenu)="rightClickTile($event)"
     (click)="clickTile()"
     [class.unknown]="!tile.Revealed || tile.Covered"
     [class.mine-wrong]="tile.Content == 'mine-wrong'">
    <div class="tile-content" *ngIf="!tile.Revealed && tile.Covered">
        <img src="/assets/img/flag.png">
    </div>

    <div *ngIf="tile.Revealed" class="tile-content"
         [ngClass]="{   'tile-content-1': tile.Content==1,
                        'tile-content-2': tile.Content==2,
                        'tile-content-3': tile.Content==3,
                        'tile-content-4': tile.Content==4,
                        'tile-content-5': tile.Content==5,
                        'tile-content-6': tile.Content==6,
                        'tile-content-7': tile.Content==7,
                        'tile-content-8': tile.Content==8}"
         [ngSwitch]="tile.Content">
        <img *ngSwitchCase="'mine'" src="/assets/img/bomb_mine.png" >
        <img *ngSwitchCase="'mine-wrong'" src="/assets/img/bomb_mine.png" >
        <img *ngSwitchCase="'flag-mine-wrong'" src="/assets/img/flag_wrong.png">
        <div *ngSwitchDefault>{{tile.Content}}</div>
    </div>
</div>
