<div class="game-wrapper">
    <div class="game-menu">
        <div class="game-menu-item">
            <button (click)="newGame()">
                <img src="/assets/img/bomb_green.png">
                <span>New Game</span>
            </button>
        </div>
        <div class="game-menu-item">
            <button>
                <img src="/assets/img/bomb_crown.png">
                <span>Credits</span>
            </button>
        </div>
    </div>
    <div class="game-main">
        <router-outlet></router-outlet>
    </div>
    <div class="game-logo">
        <img src="/assets/img/minesweeper_logo.png">
    </div>
</div>