<div class="tile"
     [class.unrevealed]="!tile.Revealed || tile.Covered"
     (contextmenu)="rightClickTile($event)"
     (click)="clickTile()">
    <div class="tile-content-wrapper">
        <div class="tile-content" *ngIf="!tile.Revealed && tile.Covered">
            <div>
                <img src="/assets/img/icons/flag.ico">
            </div>
        </div>
        <div *ngIf="tile.Revealed"
             class="tile-content"
             [ngSwitch]="tile.Content"
             [ngClass]="{
                        'tile-content-1': tile.Content==1,
                        'tile-content-2': tile.Content==2,
                        'tile-content-3': tile.Content==3,
                        'tile-content-4': tile.Content==4,
                        'tile-content-5': tile.Content==5,
                        'tile-content-6': tile.Content==6,
                        'tile-content-7': tile.Content==7,
                        'tile-content-8': tile.Content==8
                     }">
            <div *ngSwitchCase="'mine'"><img src="/assets/img/icons/mine.ico"></div>
            <div *ngSwitchCase="'mine-wrong'"><img src="/assets/img/icons/mine-wrong.ico"></div>
            <div *ngSwitchCase="'flag-mine-wrong'"><img src="/assets/img/icons/flag-mine-wrong.ico"></div>
            <div *ngSwitchDefault>{{tile.Content}}</div>
        </div>
    </div>
</div>