@import '../../styles/utils/variables';
@import '../../styles/utils/functions';
@import '../../styles/utils/mixins';

$tile-width: 2.5rem;

.board {
  margin: 1rem;
  color: $white;

  &.beginner {
    width: $tile-width * 9;
  }
}

.header {
  @include type-setting(3);

  display: flex;
  padding: $base-line-height 0;
  background-color: #FB6648;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: center;

  .header-left,
  .header-right {
    width: 25%;
  }

  .smiley {
    width: 50%;
    img {
      width: 20%;
      max-width: 60px;
      cursor: pointer;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}