<div class="board {{level.name}}">
    <!--<div class="header">
        <div class="header-left">
            {{status.flags}}
        </div>
        <div class="smiley">
            <img *ngIf="status.gameOver && status.gameWon" src="/assets/img/smiley-cool.ico" (click)="clickSmiley()">
            <img *ngIf="status.gameOver && !status.gameWon" src="/assets/img/smiley-sad.ico" (click)="clickSmiley()">
            <img *ngIf="!status.gameOver" src="/assets/img/smiley-smile.ico" (click)="clickSmiley()">
        </div>
        <div class="header-right">
            <app-game-timer [start]="status.gameStart" [over]="status.gameOver"></app-game-timer>
        </div>
    </div>-->
    <div class="grid">
        <app-game-tile *ngFor="let tile of tiles; let i = index"
                       [tile]="tile"
                       (contextmenu)="rightClickTile($event, tile)"
                       (click)="clickTile(tile)"></app-game-tile>
    </div>
</div>